fastapi
uvicorn[standard]
sqlalchemy
psycopg2-binary
pydantic
python-multipart
bcrypt==4.0.1
passlib[bcrypt]==1.7.4
python-jose[cryptography]
Pillow
numpy
pytesseract
PyMuPDF
pydantic-settings
email-validator
tensorflow
scikit-learn
xgboost
opencv-python-headless
PyWavelets
